.anchor-container{
    padding-left: 150px;
}
.anchor{
    text-decoration: none;
    text-align: center;
    color: black;
    height: 130px;
    margin-left: 20px;
    background-color: rgba(155, 74, 0, 0.07);
    font-family: "Courier New", monospace;
    font-size: 20px;
}
.motors{
    background-color: white;
    margin-left: -150px;
    border-top: 2px solid rgba(155, 74, 0, 0.07);
    border-bottom: 2px solid rgba(155, 74, 0, 0.07);
}
.imgMotors{
    padding-left: 100px;
    padding-top: 50px;
}
.aboutMotors > h2{
    text-align: center;
    font-family: Impact, fantasy;
    font-size: 35px;
    color:black;
}
.aboutMotors > p{
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 24px;
    color: black;
    padding-left: 30px;
}
.aboutMotors{
    padding-bottom: 30px;
}
.aboutDimensions{
    margin-left: -150px;
    height: 500px;
/*    background: url('../img/sierra_double_cab/2.jpg') 100% 100% no-repeat;*/
    background-size: cover;

}
.aboutDimensionsData{
    float: right;
    margin-top: -40px;
    height: 500px;
    width: 430px;
    background-color: rgba(0, 0, 0, 0.5);

}
.aboutDimensionsData > h2{
    text-align: center;
    font-family: Impact, fantasy;
    font-size: 35px;
    color:white;
}
.aboutDimensionsData > p{
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 24px;
    color: white;
    padding-left: 30px;

}

.aboutCars-container{

}

.carName-main{
    z-index: 100;
    position: relative;
    text-align: left;
    margin-top: 35px;
    color: black;
    font-family: Impact, fantasy;
    font-size: 45px;

    padding-left: 50px;
    padding-top: 2px;
    padding-bottom: 2px;

    border-bottom:1px solid red;
    width: 560px;
    transform: translateX(0px);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1em rgba(0, 0, 0, 0);
}
.logo-name{
    font-family: Impact, fantasy;
    font-size: 45px;
    color:red;

}

.carName-price,.carName-year{
    position: relative;
    padding-right:40px;
    padding-bottom: 5px;

    margin-left: 50px;
    margin-top: -4px;

    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
    font-size: 25px;
    color: grey;
}
.carName-year{
    font-size: 21px;
    color: black;
    font-weight:600;
}

.GMC-main{
    font-size: 55px;
    color: red;
}

.prev-car {
    z-index: 10;
    position: relative;
    background-size: 63% 89%;
    background-repeat: no-repeat;
    transform: translateX(351px);
    margin-top: 0px;
}


.navigation-container{
    z-index: 1500;
    margin-left: 18%;
    position: fixed;
    height: 250px;
    margin-top:-40px;
/*    background: black;*/

}
.list-menu{
    color:white;

}
.element-menu{
    cursor: pointer;
    margin-top:40px;
    position: relative;
    width: 100%;
}
.part-ico{
    background-color: rgba(230, 16, 16, 1);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    padding-top: 5px;
    padding-left: 3px;
    color:white;

    display: inline-block;
    z-index: 2;
    position: absolute;

    right: 0;
    top: 0;
}

.part-name{
    opacity:0;
    right: 0;
    top: 0;
    width: 0px;
    background-color: rgba(230, 16, 16, 0.7);
    height: 45px;
    border-radius: 50px;
    padding-top: 10px;
    padding-left: 10px;
    color:white;
    z-index: 1;
    display: inline-block;
    position: absolute;
    margin-right: 10px;
    font-size: 15px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;

}

.icons{
    height: 35px;
    width: 35px;
    border-radius: 50px;
}


.fa-arrows-h{
    font-size: 26px;
    margin-left: 6px;
    margin-top: 4px;
}
.fa-car{
    font-size: 26px;
    margin-left: 5px;
    margin-top: 3px;
}
.fa-tachometer{
    font-size: 26px;
    margin-top: 2px;
    margin-left: 7px;
}

.fa-cogs{
    font-size: 26px;
    margin-top: 4px;
    margin-left: 3px;
}
.fa-home{
    font-size: 28px;
    margin-top: 3px;
    margin-left: 6px;
}


/*
.activeMenu {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    cursor: pointer;
    padding-left: 25px;
    padding-top: 10px;
}*/


.image-drive-container{

    padding: 0px;
}
.three-part{
    padding-right: 0;
    padding-left: 0;
}
.info-drive-name{
    -webkit-clip-path: circle(158.2% at 0% 800%);
    clip-path: circle(158.2% at 0% 800%);
    background-color: red;
    color: white;
    width: 650px;
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 1em rgba(0, 0, 0, 0.1);
    font-size: 35px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 50px;
    border-bottom:1px solid red;
}
.SVG-Image{
    padding-left: 50px;
    z-index: 1000;
    position:relative;
    padding-bottom:20px;
}
.event-drive{
    padding-left: 20px;
    margin-left: 80px;
    font-family: 'Brush Script MT',script;
    font-style: italic;
    font-size: 30px;


}
.event-drive-container{
    width: 800px;
}
/*.container-fluid{
    padding-left: 0;
    padding-right: 0;

}*/


.one-part{
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
}

.event-col{
    width: 200px;
}
.img-drive-container{
    padding-right:20px;

}
.img-drive{
    text-align: center;
}
.info-drive-img{
    height: 86%;
    width: 86%;
    position:relative;
    margin-top:70px;

}
.test{
       height: 100px;
       margin: 10px;
}
.test1{
    position: absolute;
    width:100%;
    top:0;
    height: 650px;
    background: rgba(0, 0, 0, 0.4);
}
.full-event-drive{
    list-style-type: none;
    margin-left: 30px;
    margin-top: 30px;
}
.part-ico-two{
    width: 35px;
    height: 35px;
    padding-top: 5px;
    padding-left: 3px;
    color:black;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
.part-name-two{
    display: inline-block;
    left: 0;
    top: 0;
    height: 45px;
    color:black;
    margin-left: 50px;
    font-size: 24px;
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: italic;
    padding-top: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 1em rgba(0, 0, 0, 0);
}
.drive-event-container{
    margin-top:10px;
    position: relative;
    width: 100%;
}

.glyphicon-cog{
    font-size: 35px;
    color:rgba(82, 82, 82, 0.6);

}
.about-drive{
    color:red;
    font-family: 'XoloniumRegular';

}

.ScrollContainer{
    width: 35px;
    height: 35px;
}
.img-size{
    text-align: center;
    margin-top: 60px;
}
.info-size-img{
    height: 55%;
    width: 55%;
}
.parent-container-size{
    text-align: center;
}
.event-size-container{

    width: 1100px;
    margin-left:11%;
    margin-top:10px;
}

.size-element-property-name{
    padding-bottom:2px;
}

.event-size-element{
    height: 145px;
    background: rgba(166, 166, 166, 0.2);
    padding-top:5px;
    /*border-right:1px solid rgba(166, 166, 166, 0.2);
    border-left:1px solid rgba(166, 166, 166, 0.2);*/


    margin: 4px;
/*    border-radius: 50%;*/
    border:1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 6px 5px 9px rgba(0,0,0,0.6);
}

.size-element-property-name{
    padding-top: 10px;
    padding-bottom:0;
    margin:0;
    height:60px;
    display: inline-block;
    font-size: 16px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color:rgba(0, 0, 0, 0.5);
    font-weight: 500;
}
.grey{
    background: rgba(166, 166, 166, 0.1);
}
.size-property-line{
    padding:0;
    margin:0;
    border-top: 1px solid white;
}
.size-element-description{
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color:rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px){
    .event-size-element {
        width: 25%;
    }

}

@media (min-width: 992px){
    .event-size-element {
        width: 12.99999%;
        padding:0;
    }
}

.padding-size-element{
    padding-top: 15px;
}
.ico-size{
    height:30px;
    width:30px;
    filter: invert(0.2);
}

.icon{
    height:30px;
    padding:0;
    margin:5px 0 0 0;
}
.img-length{
    height:35px;
    width:37px;
}

.transmission-container-image{
    height:520px;
    background-size:100% 100%;
    background-repeat:no-repeat;
}

.ico-left-block{


}

.description-transs-block{

    height: 45px;
    color:black;
    font-size: 21px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    padding-top: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 1em rgba(0, 0, 0, 0);

}

.ico-right-block{
    display: inline-block;
    left: 0;
    top: 0;

}
.full-event-transs{
    list-style-type: none;
    padding-top: 10px;
    width: 600px;
    height: 430px;
    margin-left: 50px;
    margin-top: 50px;
    border-top: 1px solid white;
    border-left: 1px solid white;

}

.description-transs-block{
    width: 400px;
    color:white;

}

.transs-line{
    width: 430px;
    border-bottom: 1px solid white;
}
.transs-event-container{
    margin-top: 20px;
    width: 430px;
}

.about-transs{
    color:red;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 600;

}
.fa-arrow-right,.fa-arrow-left{
    font-size: 25px;
    color:rgba(54, 18, 0, 0.8);
}

.main-props-transs-container{
    height:520px;
    /*background-color:rgba(171, 171, 171, 0.1);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.fuel_consumption{
    text-align: center;
    font-size: 22px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    padding: 0;
    margin:0;
}
.inCity,.outCity{

}

.outCity{

}

.inCity{

}
.about-fuel_consumption{
    padding:0;
    width:550px;
    margin-top:8px;
}
.city{
    color:red;
    font-weight: 600;
}
.type_drive{

}
.drive-type-description{
    padding-top: 10px;
}
.padding-fuel{
    margin-top: 10px;
}

.banner-car{
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 520px;
    width: 804.4px;
}

.fa-angle-right{
    font-size: 32px;
    color:white;
}

.review-size-one{
    margin-top: 5%;
    margin-left: 20%;
    height: 70%;
    width: 70%;
}
.review-size-two{
    height: 85%;
    width: 85%;
}
.review-car-container{
    margin-top: 3%;
}

.test-drive-name{
    text-align: center;
}

.form-container{
    height: 300px;
    text-align:center;

}
.test-drive-container{
    text-align:center;
}
.test-drive-form{
    padding: 40px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.dateName{
    margin-bottom: 10px;
}
.input-group{
    margin-top: 5px;
    margin-bottom: 10px;
}
.test-drive-name{
    margin-bottom: 27px;
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    color:red;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1em rgba(0, 0, 0, 0);
}
.input-text{
    border: 1px solid red;
}
.test-drive-button{
    font-size:19px;
    margin-top: 10px;
    border:2px solid red;
    color:red;
    height: 60px;
    width: 300px;
    background: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.test-drive-button:hover{
    background: red;
    border:2px solid white;
    color:white;
}

.radio-container{
    margin-bottom: 5px;
}

.calendar{
    color:white;
}
.input-group{


}

.input-group-addon{
    border-color: red;
    background-color: red;
    cursor: pointer;
}
.drive-radio{
    font-size: 16px;
    color:black;
}

.label-form{
    margin-left:5px;
    margin-right:10px;
}
.radio-style{
}
.second-radio{
    margin-left: 20px;
}
.name-car-in-form{
    text-align: right;
    font-size: 16px;
    border-bottom:1px solid rgba(148, 146, 146, 0.2);
    padding-bottom: 7px;
    margin-bottom: 10px;
    color:black;

}

.result-message{

}

.error{
    background: rgba(217, 0, 0, 0.4);
    border: 1px solid rgba(217, 0, 0, 0.4);
    border-radius: 3px;
    text-align: center;
    color: white;
    margin-left:18px;
    margin-top:15px;
    width: 560px;
    padding: 10px;
    font-size: 15px;
}
.success{
    background: rgba(15, 189, 27, 0.6);
    border: 1px solid rgba(15, 189, 27, 0.6);
    border-radius: 3px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 17px;
    margin-left:18px;
    margin-top:15px;
    width: 560px;
}
.modal-footer{
    padding: 0;
    margin-top: 5px;
    border:none;
}