.anchor-container{
    padding-left: 150px;
}
.anchor{
    text-decoration: none;
    text-align: center;
    color: black;
    height: 130px;
    margin-left: 20px;
    background-color: rgba(155, 74, 0, 0.07);
    font-family: "Courier New", monospace;
    font-size: 20px;
}
.motors{
    background-color: white;
    margin-left: -150px;
    border-top: 2px solid rgba(155, 74, 0, 0.07);
    border-bottom: 2px solid rgba(155, 74, 0, 0.07);
}
.imgMotors{
    padding-left: 100px;
    padding-top: 50px;
}
.aboutMotors > h2{
    text-align: center;
    font-family: Impact, fantasy;
    font-size: 35px;
    color:black;
}
.aboutMotors > p{
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 24px;
    color: black;
    padding-left: 30px;
}
.aboutMotors{
    padding-bottom: 30px;
}
.aboutDimensions{
    margin-left: -150px;
    height: 500px;
/*    background: url('../img/sierra_double_cab/2.jpg') 100% 100% no-repeat;*/
    background-size: cover;

}
.aboutDimensionsData{
    float: right;
    margin-top: -40px;
    height: 500px;
    width: 430px;
    background-color: rgba(0, 0, 0, 0.5);

}
.aboutDimensionsData > h2{
    text-align: center;
    font-family: Impact, fantasy;
    font-size: 35px;
    color:white;
}
.aboutDimensionsData > p{
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 24px;
    color: white;
    padding-left: 30px;

}

.aboutCars-container{

}

.carName-main{
    z-index: 100;
    position: relative;
    text-align: left;
    margin-top: 35px;
    color: black;
    font-family: Impact, fantasy;
    font-size: 45px;

    padding-left: 50px;
    padding-top: 2px;
    padding-bottom: 2px;

    border-bottom:1px solid red;
    width: 560px;
    transform: translateX(0px);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1em rgba(0, 0, 0, 0);
}
.logo-name{
    font-family: Impact, fantasy;
    font-size: 45px;
    color:red;

}

.carName-price{
    position: relative;
    padding-right:40px;
    padding-bottom: 5px;

    margin-left: 50px;
    margin-top: -4px;

    font-family: 'Brush Script MT',script;
    font-style: italic;
    font-size: 30px;
    color: grey;
}

.GMC-main{
    font-size: 55px;
    color: red;
}

.prev-car {
    z-index: 10;
    position: relative;
    background-size: 63% 89%;
    background-repeat: no-repeat;
    transform: translateX(351px);
    margin-top: 0px;
}


.navigation-container{
    z-index: 1500;
    margin-left: 250px;
    position: fixed;
    height: 250px;
/*    background: black;*/

}
.list-menu{
    color:white;

}
.element-menu{
    cursor: pointer;
    margin-top:40px;
    position: relative;
    width: 100%;
}
.part-ico{
    background-color: rgba(230, 16, 16, 1);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    padding-top: 5px;
    padding-left: 3px;
    color:white;

    display: inline-block;
    z-index: 2;
    position: absolute;

    right: 0;
    top: 0;
}

.part-name{
    opacity:0;
    right: 0;
    top: 0;
    width: 0px;
    background-color: rgba(230, 16, 16, 0.7);
    height: 45px;
    border-radius: 50px;
    padding-top: 10px;
    padding-left: 10px;
    color:white;
    z-index: 1;
    display: inline-block;
    position: absolute;
    margin-right: 10px;
    font-size: 15px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;

}

.icons{
    height: 35px;
    width: 35px;
    border-radius: 50px;
}


.fa-arrows-h{
    font-size: 26px;
    margin-left: 6px;
    margin-top: 4px;
}
.fa-car{
    font-size: 26px;
    margin-left: 5px;
    margin-top: 3px;
}
.fa-battery-half{
    font-size: 26px;
    margin-top: 5px;
    margin-left: 3px;
}

.fa-cogs{
    font-size: 26px;
    margin-top: 4px;
    margin-left: 3px;
}


/*
.activeMenu {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    cursor: pointer;
    padding-left: 25px;
    padding-top: 10px;
}*/


.image-drive-container{

    padding: 0px;
}
.three-part{

}
.info-drive-name{
    -webkit-clip-path: circle(158.2% at 0% 800%);
    clip-path: circle(158.2% at 0% 800%);
    background-color: red;
    color: white;
    width: 650px;
    font-family: Impact, fantasy;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 1em rgba(0, 0, 0, 0.1);
    font-size: 35px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 50px;
    border-bottom:1px solid red;
}
.SVG-Image{
    padding-left: 50px;
    z-index: 1000;
    position:relative;
    padding-bottom:20px;
}
.event-drive{
    padding-left: 20px;
    margin-left: 80px;
    font-family: 'Brush Script MT',script;
    font-style: italic;
    font-size: 30px;


}
.event-drive-container{
    width: 800px;
}
.container-fluid{
    padding-left: 0;

}

.event-col{
    width: 200px;
}
.img-drive-container{
    padding-right:20px;

}
.img-drive{
    text-align: center;
}
.info-drive-img{
    height: 80%;
    width: 80%;
    position:relative;
    margin-top:80px;

}
.test{
       height: 100px;
       margin: 10px;
}
.test1{
    position: absolute;
    width:100%;
    top:0;
    height: 650px;
    background: rgba(0, 0, 0, 0.4);
}
.full-event-drive{
    list-style-type: none;
    margin-left: 120px;
    margin-top: 30px;
}
.part-ico-two{
    width: 35px;
    height: 35px;
    padding-top: 5px;
    padding-left: 3px;
    color:black;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
.part-name-two{
    left: 0;
    top: 0;
    height: 45px;
    color:black;
    display: inline-block;
    margin-left: 50px;
    font-size: 24px;
    font-family: Impact, fantasy;
    font-style: italic;
    padding-top: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 1em rgba(0, 0, 0, 0);
}
.drive-event-container{
    margin-top:10px;
    position: relative;
    width: 100%;
}

.glyphicon-cog{
    font-size: 35px;
    color:rgba(82, 82, 82, 0.6);

}
.about-drive{
    color:red;
    font-family: Impact, fantasy;

}

.ScrollContainer{
    width: 35px;
    height: 35px;
}
.img-size{
    text-align: center;
    margin-top: 60px;
}
.info-size-img{
    height: 55%;
    width: 55%;
}
.parent-container-size{
    text-align: center;
}
.event-size-container{

    width: 1000px;
    margin-left:12%;
    margin-top:60px;
}

.size-element-property-name{
    padding-bottom:2px;
    border-bottom: 1px solid red;
}