.navbar{
    border-radius: 0;
    border: none;
}
.navbar-inverse{
    background-color: #cfd2c9;
}
.navbar-inverse .navbar-nav>li>a{
    color:black;
}
.navbar-nav{
    float: right;
    padding: 5px;
    margin-right: 100px;
}
.navbar-inverse .navbar-nav>li>.MainPage{
    color:red;
}
