body{
    background-color: white;

}
.navbar{
    height:50px;
    border-radius: 0;
    border: none;
}
.navbar-inverse{
    /*background-color: rgba(235, 235, 235, 0.9);*/
    background-color: rgba(0, 0, 0, 0.9);
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}

.navbar-inverse .navbar-nav>li>a:visited{
    color: white;
}
.navbar-inverse .navbar-nav>li>a:active{
    color: rgba(105, 0, 0, 1);
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: white;
}

.navbar-nav{
    float: right;
    padding: 5px;
    margin-right: 100px;
    margin-top:-5px;
}
.navbar-inverse .navbar-nav>li>.MainPage{
    color:red;
    font-weight:500;
    font-size: 17px;
}
.navbar-inverse .navbar-nav>li>.MainPage:visited{
    color:red;
}
.navbar-header{
    padding-bottom:5px;
    padding-left: 14px;
    height: 50px;
    width: 110px;
    background-color: white;
}

.nav>li{
    position: relative;
    display: block;
    height: 60px;
    margin-top: -10px;
    padding-top: 10px;
}

.nav>li:hover{
    background-color:rgba(250, 250, 250, 0.1);
    color:white;
}


@media screen and (min-width: 768px) {

}
.dropdown-menu {
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
}

.footer{
    left: 0;
    bottom: 0;
    padding: 10px;
    background: red;
    color: #fff;
    width: 100%;
    height: 80px;
    margin-top: 30px;
}

.contentContainer{
    margin-top: 60px;
    margin-bottom: 30px;
}

.brandStyle{
    margin-top: 10px;
}


/*.car{
    padding:10px;
    margin:10px;
}*/

/*.car:hover{
    zoom: 0.5;
}*/
.cars-container{
    padding-left: 150px;
    margin-top: 160px;
}

.cars-container-one-type{
    margin-top: 60px;
    padding-left: 90px;
}
.sliderAboutCar{
    margin-left: -150px;
}


/*
.numbElement1, .numbElement3, .numbElement5, .numbElement7{
    margin-top: 50px;
}*/

/*---------------------------------------PICKUPS--------------------------------------------------*/

.logo{
        background-size: 100% 70%;
        background-repeat: no-repeat;

}






.pickupBlock0{
    height: 500px;
    padding-top: 80px;
}

.pickupBlock1{
    height: 500px;
    padding-top: 80px;
    margin-top: 140px;
    margin-left: 120px;
}

.pickupBlock2{
    height: 500px;
    padding-top: 80px;
    margin-top: -90px;
}
/*.pickupBlock2 > .block{
    margin-bottom: 80px;
}*/
.pickupBlock3{
    height: 500px;
    padding-top: 80px;
    margin-top: 140px;
    margin-left: 120px;
}



.pickupBlock4{
    height: 500px;
    padding-top: 80px;
    margin-top: -90px;
}

/*.banner:hover{
    display: block;
    margin-top: -10px;
    margin-left: -10px;
    padding: 10px;
    height: 500px;
    width: 696px;
    background-color: rgba(0, 0, 0, 0.8);

}*/

/*-----------------------------------SUV---------------------------------------------------------*/


.suvBlock0{
    height: 500px;
    padding-top: 80px;
}

.suvBlock1{
    height: 500px;
    padding-top: 80px;
    margin-top: 140px;
    margin-left: 120px;
}

.suvBlock2{
    height: 500px;
    padding-top: 80px;
    margin-top: -90px;
}

/*--------------------------------------VAN----------------------------------------*/

.vanBlock0{
    height: 500px;
    padding-top: 80px;
}





.carName{
    text-align: right;
    margin-top: -50px;
    padding-bottom: 3px;
    color:black;
    font-family: Impact, fantasy;
    font-size: 35px;
    border-bottom: 1px solid red;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1em rgba(0, 0, 0, 0);
}

.GMC{
    font-size: 35px;
    color: red;
}
.type_cars{
    position: relative;
    text-align: right;
    padding-right:40px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -70px;
    -webkit-clip-path: circle(58.2% at 80% 600%);
    clip-path: circle(58.2% at 80% 600%);
    background-color: red;
    font-family: Impact, fantasy;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 1em rgba(0, 0, 0, 0.1);
}
.price{
    margin-top: -4px;
    text-align:right;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
    font-size: 22px;
    color: #9d9d9d;
    font-weight: 100
}
.block{

}


.anim-appear {
    opacity: 0.01;
}

.anim-appear.anim-appear-active{
    opacity: 2;
    transition: opacity 500ms ease-in;
}

.footer {
    margin-top: 120px;
    margin-bottom: -5px;
    height: 400px;
    width: 100%;
    background-color: black;
    opacity: 1;
    display: inline-block;
}